<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FundConvert">
	 <!-- 为了返回list 类型而定义的returnMap -->
    <resultMap type="FundConvert" id="resultListFundConvert">
        <id column="id" property="id" />
        <result column="a_fund_code" property="afundCode" />
        <result column="b_fund_code" property="bfundCode" />
        <result column="convert_type" property="convertType" />
        <result column="a_convert_rate" property="aconvertRate"/>
        <result column="b_convert_rate" property="bconvertRate"/>
        <result column="a_b_ratio" property="abRatio"/>
        <result column="reg_date" property="regDate"/>
        <result column="convert_date" property="convertDate"/>
        <result column="status" property="status"/>
        <result column="import_time" property="importTime"/>
    </resultMap>
	
	<!-- 查询sql -->
	<sql id="sql_select">
		select id,a_fund_code,b_fund_code,convert_type,a_convert_rate,b_convert_rate,a_b_ratio,reg_date,convert_date,status,import_time
	</sql>
	
	<!-- 查询条件sql -->
	<sql id="sql_where">
		from mncg_fund_convert where 1=1
		<if test="fundCode != null and fundCode !=''">
			<![CDATA[
			   AND a_fund_code = #{fundCode} OR b_fund_code = #{fundCode}
			]]>  
		</if>
		<if test="regDateStart != null and regDateStart !='' and regDateEnd != null and regDateEnd != ''">
			<![CDATA[
			   AND reg_date BETWEEN #{regDateStart} AND #{regDateEnd}
			]]>
		</if>
		<if test="convertDateStart != null and convertDateStart !='' and convertDateEnd != null and convertDateEnd != ''">
			<![CDATA[
			   AND convert_date BETWEEN #{convertDateStart} AND #{convertDateEnd}
			]]>   
		</if>
		<if test="convertType >= 0">
			<![CDATA[
			   AND convert_type = #{convertType}
			]]>   
		</if>
		<if test="status >= 0">
			<![CDATA[
			   AND status = #{status}
			]]>   
		</if>
		order by id desc
		<if test="pageSize > 0 and pageStart == null" >
			<![CDATA[
				limit #{pageSize}
			]]>
		</if>
		<if test="pageSize > 0 and pageStart != null" >
			<![CDATA[
				limit #{pageStart}, #{pageSize}
			]]>
		</if>
	</sql>
	
	<!-- 查询 -->
	<select id="findFund" parameterType="map" resultMap="resultListFundConvert">
		<include refid="sql_select" />
		<include refid="sql_where" />
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="FundConvert">
		insert into mncg_fund_convert(a_fund_code,b_fund_code,convert_type,a_convert_rate,b_convert_rate,a_b_ratio,reg_date,convert_date,status,import_time) values (
			#{afundCode},#{bfundCode},#{convertType},#{aconvertRate},#{bconvertRate},#{abRatio},#{regDate},#{convertDate},#{status},#{importTime}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="FundConvert">
		update mncg_fund_convert set a_fund_code=#{afundCode},b_fund_code=#{bfundCode},convert_type=#{convertType},a_convert_rate=#{aconvertRate},b_convert_rate=#{bconvertRate},
			reg_date=#{regDate},convert_date=#{convertDate},status=#{status},import_time=#{importTime} where id = #{id}
	</update>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from mncg_fund_convert where id = #{id}
	</delete>
	
	<!-- 通过ID查询 -->
	<select id="findById" parameterType="int" resultType="FundConvert">
		<include refid="sql_select" /> from mncg_fund_convert where id = #{id}
	</select>
</mapper>